<% content_for :navbar do %>
  <%= link_to "Add a review", new_cocktail_review_path(@cocktail), class: "btn btn-outline-dark my-2 my-sm-0" %>
  <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#AddDose">
    Add a Dose
  </button>
<% end %>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo.key, crop: :fill %>);">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>



<div class="container mt-n5">
  <div class="row">
    <div class="col-8 d-flex flex-column">
      <div class="cocktail-show-card ">
        <h3>Description:</h3>
        <p class="text-left"><%= @cocktail.description %></p>
      </div>
      <div class="cocktail-show-card">
        <h3>Reviews:</h3>
        <% @cocktail.reviews.each do |review| %>
            <p class="text-left m-0">
              <%= review.content.capitalize %>
            </p>
            <footer class="blockquote-footer text-left mb-1">Anonymous</footer>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div class="cocktail-show-card">
        <h5>Ingredients:</h5>
        <ul class="text-left">
          <% @cocktail.ingredients.each do |i| %>
          <li>
            <strong><%= i.name %> </strong> - <%= i.doses.where(cocktail: @cocktail).first.measurement %>
            <%= link_to dose_path(i.doses.where(cocktail: @cocktail).first),
                        method: :delete,
                        data: {confirm: "Are you sure ?"},
                        class: "text-secondary" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </li>
          <% end %>
        </ul>


        <!-- Modal -->
        <div class="modal fade" id="AddDose" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add a new dose to <%= @cocktail.name %></h5>
              </div>
              <div class="modal-body">
                  <%= simple_form_for [@cocktail, Dose.new] do |f| %>
                  <%= f.association :ingredient, input_html: { class: "mb-2 mr-sm-2 select2" }, placeholder: 'Ingredient' %>
                  <%= f.input :measurement, input_html: { class: "mb-2 mr-sm-2" }, placeholder: 'Measurement' %>
                  <%= f.button :submit, class: "btn btn-outline-dark" %>
                  <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
