<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo.key, crop: :fill %>);">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>



<div class="container mt-n5">
  <div class="row">
    <div class="col-8 d-flex flex-column">
      <div class="cocktail-show-card ">
        <h3>Description:</h3>
        <p class="text-left"><%= @cocktail.description %></p>
      </div>
      <div class="cocktail-show-card">
        <h3>Reviews:</h3>
        <% @cocktail.reviews.each do |review| %>
            <p class="text-left m-0">
              <%= review.content.capitalize %>
            </p>
            <footer class="blockquote-footer text-left mb-1">Anonymous</footer>
        <% end %>
        <%= link_to "Add a review", new_cocktail_review_path(@cocktail), class: "btn btn-outline-dark" %>
      </div>
    </div>
    <div class="col-4">
      <div class="cocktail-show-card">
        <h5>Ingredients:</h5>
        <ul class="text-left">
          <% @cocktail.ingredients.each do |i| %>
          <li>
            <strong><%= i.name %> </strong> - <%= i.doses.where(cocktail: @cocktail).first.measurement %>
            (<%= link_to "Delete",
                        dose_path(i.doses.where(cocktail: @cocktail).first),
                        method: :delete,
                        data: {confirm: "Are you sure ?"},
                        class: "text-secondary" %>)
          </li>
          <% end %>
        </ul>
        <%= link_to "Add a Dose", new_cocktail_dose_path(@cocktail), class: "btn btn-outline-dark" %>
      </div>
    </div>
  </div>
</div>


